<tr id="<%= dom_id part %>" >
  <td class="col p-3" >
    <a href="#view-part-<%= part.id %>" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="view-part-<%= part.id %>"><%= part.number %></a>
  </td>

  <td class="col p-3">
    <%= part.category %>
  </td>

  <td class="col p-3">
    <%= link_to part.machine.name, "/machines/#{part.machine.id}" %>
  </td>

</tr>
<tr class="collapse slide-in-down" id="view-part-<%= part.id %>">
  <td class="table-card" colspan="3">
    <div class="inner-table-card">
      <div class="left-col">
        <div class="value">Part ID: <span class="right"><%= part.id %></span></div>
        <div class="value">Part Number: <span class="right"><%= part.number %></span></div>
      </div>
      <div class="middle-col">
        <h4 style="text-align: center; width: 100%; display: block;">Details</h4>
        <div class="value">Part Category: <span class="right"><%= part.category %></span></div>
        <div class="value">Part Association: <span class="right"><%= part.machine.name %></span></div>
      </div>
      <div class="right-col">
        <h4 style="text-align: center; width: 100%; display: block;">Machine Association</h4>
        <div class="value">Machine ID: <span class="right"><%= part.machine.id %></span></div>
        <div class="value">Machine Name: <span class="right"><%= link_to part.machine.name, "/machines/#{part.machine.id}" %></span></div>
        <div class="value">Machine Location: <span class="right"><%= part.machine.location %></span></div>
        <div class="value">Machine Picture: <span class="right"><%= part.machine.picture %></span></div>
      </div>
      <div class="button-layout">
        <%= link_to "Edit", edit_part_path(part) , class: "btn btn-success btn-inline" %>
        <%= button_to "Delete", part, method: :delete, form: { data: {turbo_confirm: "Are you sure?"} }, class: "btn btn-danger btn-inline" %>
      </div>
    </div>
  </td>
</tr>

</tr>