<!--<table id="parts" class="table table-striped" style="margin: 0px 5px 0px 5px;">-->
<!--  <tr class="row table-dark">-->
<!--    <th scope="col" class="col p-3">Number</th>-->
<!--    <th scope="col" class="col p-3">Category</th>-->
<!--    <th scope="col" class="col p-3">Machine</th>-->
<!--    <th scope="col" class="col p-3">Qty</th>-->
<!--  </tr>-->
  <%#= render @part %>
<!--</table>-->

<div class="singular-wrapper">
  <div class="singular-grouping">
    <div class="singular-row">
      <div class="singular-left">
        Number:
      </div>
      <div class="singular-right">
        <%= @part.number %>
      </div>
    </div>
    <div class="singular-row">
      <div class="singular-left">
        Category:
      </div>
      <div class="singular-right">
        <%= @part.category %>
      </div>
    </div>
    <div class="singular-row">
      <div class="singular-left">
        Machine:
      </div>
      <div class="singular-right">
        <%= link_to @part.machine.name, "/machines/#{@part.machine.id}" %>
      </div>
    </div>
    <div class="singular-row">
      <div class="singular-full">
        <%= link_to "Edit", edit_part_path(@part) , class: "btn btn-success btn-inline" %>
        <%= button_to "Delete", @part, method: :delete, form: { data: {turbo_confirm: "Are you sure?"} }, class: "btn btn-danger btn-inline" %>
        <%= link_to "Back to parts", parts_path , class: "btn btn-outline-primary btn-inline-right"%>
      </div>
    </div>
  </div>
</div>
