<div class="singular-wrapper">
  <div class="singular-grouping">
    <div class="singular-row">
      <div class="singular-left">
        Name:
      </div>
      <div class="singular-right">
        <%= @machine.name %>
      </div>
    </div>
    <div class="singular-row">
      <div class="singular-left">
        Location:
      </div>
      <div class="singular-right">
        <%= @machine.location %>
      </div>
    </div>
    <div class="singular-row">
      <div class="singular-left">
        Picture:
      </div>
      <div class="singular-right">
        <%= @machine.picture %>
      </div>
    </div>
    <div class="singular-row">
      <div class="singular-full">
        <%= link_to "Edit", edit_machine_path(@machine) , class: "btn btn-success btn-inline" %>
        <%= button_to "Delete", @machine, method: :delete, form: { data: {turbo_confirm: "Are you sure?"} }, class: "btn btn-danger btn-inline" %>
        <%= link_to "Back to machines", machines_path , class: "btn btn-outline-primary btn-inline-right"%>
      </div>
    </div>
  </div>
</div>
